html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color: #545149;
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
}

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */

 main {
  width: 90%;
  margin: auto;
  background-color: #f4f1ec;
  padding-bottom: 5%;
 }

 /* Media query for large screen */

 @media only screen and (min-width: 1024px) {
   .main-header {
    margin-top: 240px;
    margin-left: 5%;
    width: 20% ;
    float: left;
   }
   header > div > img {
    position:relative;
    top:30%;
    height: 80%;     
  }
   main {
    width: 60%;
    float: right;
    margin-right: 5%;
    padding-top:200px;
   }
 }
